# Predicting stock

#background: green energy stock before and after U.S. Officially Rejoins Paris Agreement On Climate Change in 2021,
#and we predict the stock in 2022.

In [10]:
#Import the libraries
from path import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
#from sklearn ...
#from keras ...

# Upload the data. Enphase Energy,Inc. (ENPH)

In [12]:
# 
data = Path('../Week_1/ENPH.csv')
df = pd.read_csv(data)
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-03-08,145.000000,147.860001,131.470001,132.059998,132.059998,4701700
1,2021-03-09,141.000000,150.830002,139.500000,148.699997,148.699997,4848200
2,2021-03-10,158.009995,162.740005,150.089996,152.429993,152.429993,4720700
3,2021-03-11,158.490005,166.399994,155.789993,165.339996,165.339996,3681400
4,2021-03-12,157.500000,166.250000,153.100006,164.710007,164.710007,2387900
5,2021-03-15,165.009995,175.130005,164.399994,174.160004,174.160004,3376500
6,2021-03-16,173.009995,175.779999,163.559998,166.309998,166.309998,2385400
7,2021-03-17,158.570007,167.830002,153.089996,163.820007,163.820007,4099400
8,2021-03-18,157.500000,159.750000,147.860001,148.479996,148.479996,3882100
9,2021-03-19,151.570007,156.750000,147.550003,154.949997,154.949997,5954100
10,2021-03-22,157.589996,163.860001,155.589996,161.110001,161.110001,3055600
11,2021-03-23,160.490005,165.350006,154.690002,155.970001,155.970001,3576600
12,2021-03-24,159.050003,159.050003,147.929993,147.979996,147.979996,2153500
13,2021-03-25,140.509995,148.740005,136.880005,148.479996,148.479996,3736200
14,2021-03-26,148.070007,153.000000,144.520004,152.070007,152.070007,2041500
15,2021-03-29,148.970001,152.240005,139.690002,142.139999,142.139999,2869000
16,2021-03-30,139.570007,150.889999,138.059998,150.600006,150.600006,2504300
17,2021-03-31,155.869995,164.869995,154.580002,162.160004,162.160004,2956600
18,2021-04-01,169.119995,172.389999,162.250000,162.690002,162.690002,2718100
19,2021-04-05,165.139999,165.570007,148.800003,149.419998,149.419998,3653100

In [21]:
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-03-08  145.000000  147.860001  131.470001  132.059998  132.059998
1    2021-03-09  141.000000  150.830002  139.500000  148.699997  148.699997
2    2021-03-10  158.009995  162.740005  150.089996  152.429993  152.429993
3    2021-03-11  158.490005  166.399994  155.789993  165.339996  165.339996
4    2021-03-12  157.500000  166.250000  153.100006  164.710007  164.710007
5    2021-03-15  165.009995  175.130005  164.399994  174.160004  174.160004
6    2021-03-16  173.009995  175.779999  163.559998  166.309998  166.309998
7    2021-03-17  158.570007  167.830002  153.089996  163.820007  163.820007
8    2021-03-18  157.500000  159.750000  147.860001  148.479996  148.479996
9    2021-03-19  151.570007  156.750000  147.550003  154.949997  154.949997
10   2021-03-22  157.589996  163.860001  155.589996  161.110001  161.110001
11   2021-03-23  160.490005  165.350006  154.690002  155.970001  155.970001
12   2021-03-24  159.050003  159.050003  147.929993  147.979996  147.979996
13   2021-03-25  140.509995  148.740005  136.880005  148.479996  148.479996
14   2021-03-26  148.070007  153.000000  144.520004  152.070007  152.070007
15   2021-03-29  148.970001  152.240005  139.690002  142.139999  142.139999
16   2021-03-30  139.570007  150.889999  138.059998  150.600006  150.600006
17   2021-03-31  155.869995  164.869995  154.580002  162.160004  162.160004
18   2021-04-01  169.119995  172.389999  162.250000  162.690002  162.690002
19   2021-04-05  165.139999  165.570007  148.800003  149.419998  149.419998
20   2021-04-06  151.479996  161.169998  151.009995  157.919998  157.919998
21   2021-04-07  156.119995  157.679993  149.229996  150.009995  150.009995
22   2021-04-08  152.199997  156.100006  151.380005  153.130005  153.130005
23   2021-04-09  150.000000  152.520004  147.250000  151.350006  151.350006
24   2021-04-12  151.190002  152.339996  146.059998  151.869995  151.869995
25   2021-04-13  150.929993  153.529999  147.580002  153.089996  153.089996
26   2021-04-14  152.479996  157.100006  150.919998  151.910004  151.910004
27   2021-04-15  155.550003  155.649994  142.419998  145.789993  145.789993
28   2021-04-16  144.869995  151.059998  144.839996  150.009995  150.009995
29   2021-04-19  146.929993  153.600006  139.270004  141.139999  141.139999
..          ...         ...         ...         ...         ...         ...
223  2022-01-24  119.769997  128.309998  113.400002  128.100006  128.100006
224  2022-01-25  123.000000  127.459999  120.480003  122.650002  122.650002
225  2022-01-26  126.669998  130.669998  119.800003  121.750000  121.750000
226  2022-01-27  125.199997  125.779999  119.620003  119.970001  119.970001
227  2022-01-28  120.320000  124.279999  113.970001  123.860001  123.860001
228  2022-01-31  125.000000  140.750000  125.000000  140.470001  140.470001
229  2022-02-01  141.190002  143.350006  136.619995  142.669998  142.669998
230  2022-02-02  144.899994  145.259995  138.589996  139.509995  139.509995
231  2022-02-03  134.000000  139.020004  130.070007  132.910004  132.910004
232  2022-02-04  133.720001  143.419998  131.649994  141.229996  141.229996
233  2022-02-07  140.520004  146.740005  139.470001  140.770004  140.770004
234  2022-02-08  139.199997  145.669998  137.179993  144.500000  144.500000
235  2022-02-09  178.520004  183.149994  154.600006  161.889999  161.889999
236  2022-02-10  156.190002  166.710007  153.270004  154.639999  154.639999
237  2022-02-11  154.070007  156.839996  143.779999  145.690002  145.690002
238  2022-02-14  145.830002  149.979996  142.380005  143.929993  143.929993
239  2022-02-15  147.610001  154.889999  147.570007  154.289993  154.289993
240  2022-02-16  149.600006  154.839996  146.800003  154.029999  154.029999
241  2022-02-17  151.229996  154.770004  147.820007  148.369995  148.369995
242  2022-02-18  148.440002  148.960007  139.279999  140.350006  140.350006
243  2022-02-22  137.190002  139.899994  131.300003  133.029999  133.029999
244  2022-02-23  135.000000  135.520004  126.120003  126.559998  126.559998
245  2022-02-24  119.000000  147.929993  118.570000  147.350006  147.350006
246  2022-02-25  148.000000  154.570007  146.039993  153.729996  153.729996
247  2022-02-28  157.399994  167.949997  157.399994  166.699997  166.699997
248  2022-03-01  167.539993  172.869995  163.520004  170.600006  170.600006
249  2022-03-02  169.880005  169.880005  159.529999  163.889999  163.889999
250  2022-03-03  164.860001  165.729996  157.210007  159.029999  159.029999
251  2022-03-04  159.820007  164.250000  152.949997  158.149994  158.149994
252  2022-03-07  162.699997  167.990005  160.419998  162.160004  162.160004

       Volume
0     4701700
1     4848200
2     4720700
3     3681400
4     2387900
5     3376500
6     2385400
7     4099400
8     3882100
9     5954100
10    3055600
11    3576600
12    2153500
13    3736200
14    2041500
15    2869000
16    2504300
17    2956600
18    2718100
19    3653100
20    2647200
21    2123500
22    2105000
23    2033700
24    1636900
25    1531700
26    1727000
27    2775300
28    2302900
29    2789400
..        ...
223   5200000
224   2785800
225   4013900
226   2730800
227   3074600
228   3988900
229   2605200
230   2375000
231   2912500
232   2535900
233   3609400
234   4026400
235  24860600
236   5356100
237   3380600
238   2439200
239   3053200
240   1972500
241   1675700
242   2610300
243   2587900
244   2107500
245   5034800
246   3086900
247   5368900
248   3539800
249   3473300
250   2329200
251   2512400
252   2238882

[253 rows x 7 columns]

In [19]:
#Upload the data and save it to a pandas DataFrame
df = pd.read_csv("ENPH.csv", na_values=[‘null’],index_col=’Date’,parse_dates=True,infer_datetime_format=True)
df.head()

SyntaxError: invalid character in identifier (<ipython-input-19-0e29f1a90a01>, line 2)

In [ ]:
#Print the shape of Dataframe  and Check for Null Values
print(“Dataframe Shape: “, df. shape)
print(“Null Value Present: “, df.IsNull().values.any())

In [ ]:
#Plot the True Adj Close Value
df[‘Adj Close’].plot()

# Setting the Target Variable (y) and Selecting the Features (X)

Date	Open	High	Low	Close	Adj Close	Volume

In [ ]:
#Set Target variable
y = df["Adj Close"]
X = df.drop(columns="Adj Close")

# Scaling

In [ ]:
#Creating the scaler instance
from sklearn.preprocessing import StandardScaler (#or MinMaxScaler)
data_scaler = StandardScaler()

In [ ]:
#Fitting the scaler
stock_data_scaled = data_scaler.fit_transform(df)

# Creating a Training Set and a Test Set

In [ ]:
#Use the train_test_split (or TimeSeriesSplit) to create training and testing 
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=1)

# Data Processing for xxx Model

In [ ]:
# Instantiate a linear regression model (or other appropriate model)

# Fit or model using the training data

# Make Prediction

In [ ]:
y_pred = XXXmodel.predict(X_test)

# Generate Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

# Generate Classification Report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))